<header class="search-page" ng-controller="SearchController as searchCtrl">    
    <div class="container">
        <div class="row">
            <input-search active-item="search.activeItem" items="search.items" options="search.options"></input-search>
        </div>
        <div class="row">
            <related-search></related-search>
            <search-sidebar class="col-md-2 col-sm-3"></search-sidebar>
            <search-item class="col-md-10 col-sm-9 scroll-panel"></search-item>
        </div>
    </div>
</header>
