strong {
    font-weight: bold;
}
em {
    font-style: italic !important;
}

//Grid
.container-fluid {
    min-width: 100vw;
    padding: 0;
    margin: 0;
}

//Navigation
.navbar {
    min-height: $nav-height;
    margin-bottom: 0;
}
.nav,
.navbar-brand {
    line-height: $nav-height;
    height: $nav-height;
}
.navbar-brand {
    cursor: default;
    padding-left: 4vh;
    line-height: 16px;
    height: $nav-height;
    color: $primary-text-color;
    font-size: 16px;
    .shape {
        border-color: $primary-text-color;
        border-style: solid;
        width: 45px;
        height: 16px;
        border-width: 3px;
    }
    .title {
        @extend %font-semi-bold;
        margin-top: 4px;
        font-size: 18px;
    }
}
nav > * {
    section.image-label {
        margin-top: -5px;
    }
}

// Elements
input[type="text"] {
    &.input-typeahead {
        @extend %font-light;
    }
    &:focus {
        outline: none;
    }
}
ul {
    &.dropdown-menu {
        max-width: $input-typeahead-width;
        min-width: $input-typeahead-width;
        @extend %font-light;
        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {
            @extend %font-light;
            background-color: $secondary-color;
        }
    }
}

//Views
.default-view {
    min-width: 100%;
    min-width: 100vw;
    min-height: 100%;

    //TODO not working at 100%
    min-height: 95vh;
    & * {
        color: $gray-dark;
        &:not(.fa) {
            @extend %font-light;
        }
    }
    .vertical-center {
        min-height: 100%;
        min-height: 95vh;
        display: flex;
        align-items: center;
    }
    .text-horizontal-center {
        min-width: 100%;
        text-align: center;
    }

    //Home
    .home-page {
        background-color: $primary-color;

        //TODO not working at 100%
        min-height: 95vh;
        & * {
            color: $primary-text-color;
        }
        i.fa.button {
            color: $primary-text-color;
            border-color: $primary-text-color;
        }
        .navbar-default * {
            color: inherit;
            & .navbar-nav > li > a:hover,
            & .navbar-nav > li > a:focus {
                color: inherit;
            }
        }
        .brand-heading {
            font-size: 3.5em;
            i {
                font-size: 0.9em;
            }

            // TODO: Bootstrap should be doing this
            em {
                font-style: italic;
            }
        }
        .intro-text {
            margin-top: 2vh;
            font-size: 0.9em;
        }
        ul.dropdown-menu {
            > li a {
                color: $gray-darker;
                strong {
                    color: inherit;
                }
            }
            & > .active > a,
            & > .active > a:hover,
            & > .active > a:focus {
                color: $primary-text-color;
            }
        }
    }
    .search-page {
        & * {
            color: $gray-dark;
            search-sidebar {
                float: left;
                position: relative;
                padding-right: $default-padding;
            }
            search-item {
                float: left;
                position: relative;
                border-left: 2px solid $primary-color;
                padding-left: $default-padding;
            }
        }
        .nav {
            margin-bottom: 8vh;
        }
        .navbar-default * {
            color: inherit;
            & .navbar-nav > li > a:ver,
            & .navbar-nav > li > a:focus {
                color: inherit;
            }
        }
        .brand-heading {
            cursor: pointer;
            font-size: 1.5em;
            i {
                color: $primary-color;
                font-size: 0.9em;
            }
            em {
                margin-left: -5px;
            }
        }
    }
}
