strong {
    font-weight: bold;
}
em {
    font-style: italic !important;
}

// Animation
.animate-enter,
.animate-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}
.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0;
}

//Grid
.container-fluid {
    min-width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.scroll-panel {
    overflow-y: auto;
    max-height: 60vh;
}

// Navigation
.navbar {
    font-family: $font-family;
    min-height: $nav-height;
    margin-bottom: 0;
}
.nav,
.navbar-brand {
    line-height: $nav-height;
    height: $nav-height;
}
.navbar-brand {
    cursor: pointer;
    font-size: 1em;
    padding-left: 4vh;
    padding-right: 4vh;
    line-height: 16px;
    height: $nav-height;
    i {
        color: $gray-darker;
        font-size: 0.9em;
        padding-right: 5px;
    }
    em {
        margin-left: -5px;
    }
    .title {
        @extend %font-semi-bold;
        margin-top: 4px;
        font-size: 18px;
    }
}
.navbar-default {
    em {
        color: $gray-dark;
    }
}
.navbar-right {
    padding-right: 2vh;
}

// Jumbotron
.container-fluid .jumbotron {
    border-radius: 0;
}
.jumbotron {
    font-family: $font-family;
    margin-bottom: $nav-height;
    h1 {
        font-size: 55px;
    }
}

// Elements
input[type="text"] {
    &.input-typeahead {
        @extend %font-light;
    }
    &:focus {
        outline: none;
    }
}
ul {
    &.dropdown-menu {
        max-width: $input-typeahead-width;
        min-width: $input-typeahead-width;
        font-family: $font-family;
        font-size: $font-m;
        @extend %font-light;
        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {
            @extend %font-light;
            background-color: $base-color-2;
        }
    }
}

//Views
.default-view {
    min-width: 100%;
    min-width: 100vw;
    min-height: 100%;
    overflow: hidden;

    //TODO not working at 100%
    min-height: 95vh;
    .text-horizontal-center {
        min-width: 100%;
        text-align: center;
    }

    //Home
    .home-page {

        //TODO not working at 100%
        min-height: 95vh;
        .intro-text {
            margin-top: 2vh;
            font-style: italic;
            font-weight: lighter;
        }
        ul.dropdown-menu {
            > li a {
                color: $gray-darker;
                strong {
                    color: inherit;
                }
            }
            & > .active > a,
            & > .active > a:hover,
            & > .active > a:focus {
                color: $primary-text-color;
            }
        }
    }
}
