<section class="home-page" ng-controller="HomeController as home">
    <div class="jumbotron">
        <div class="text-horizontal-center">
            <h1>
                <i class="qr-logo"></i>
                <em>quick</em>Recipes</h1>
            <p class="intro-text">Eat, drink and be merry!</p>
            <input-search active-item="search.activeItem" class="text-horizontal-center" items="search.items" options="search.options"></input-search>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3" ng-repeat="recipe in home.recipes" ng-class="{'col-md-offset-1':!$first}">
                <recipe-item recipe="recipe"></recipe-item>
            </div>
        </div>
    </div>
</section>
