$default-padding: 10px;
.search-item {
    padding-bottom: $default-padding;
    header {
        font-weight: bold;
        font-size: 1.1em;
        padding-bottom: $default-padding;
        div {
            font-weight: lighter;
            font-size: small;
            padding-top: $default-padding;
        }
    }
    details {
        padding: $default-padding;
        overflow: hidden;
        background: $gray-lighter;
    }
    details summary {
        outline: none;
        cursor: pointer;
    }
    details > div {
        padding: $default-padding*2 0 0 $default-padding*2;
    }
    details summary::-webkit-details-marker {
        color: $primary-color;
    }
}
