$base-color: rgb(150, 0, 24); // carmine-red
$base-color-2: rgb(3, 128, 158);
$base-color-3: rgb(238, 173, 1);
$base-color-4: rgb(41, 4, 11);

$primary-text-color: beige;

$font-family: sans-serif;

$input-typeahead-width: 30vw;
$nav-height: 4vh;

$default-padding: 10px;
